<form action="/encontrarL" method="post">
    
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" name="email">
    </div>
    <div class="mb-3">
        <label class="form-label">Senha</label>
        <input class="form-control" name="senha" type="password">
        <a href="/recursos"><button>Entrar</button></a>
    </div>
    
    
</form>