{{>menssagem}}


{{#each errosNaPagina}}
<div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}

<body class="corpoC">
    
    <section class="area-login">
        <div class="login">
            <div>
                <img src="Logo-Linhas.png">
            </div>
            <form action="/logar" method="post">
    
            <div>
            
            <input type="email" class="form-control" name="email" placeholder="Email">
            </div>
            <div>
            
            <input class="form-control" name="senha" type="password" placeholder="Senha">
            </div>
    <input type="submit" value="ENTRAR">
            <p>Ainda não tem uma conta?<a href="/cadastroP">Criar Conta</a></p>
    
            </form>
        </div>
    </section>
    
</body>