


<body>
    
  
    

</div>
    <h2 id="tituloI" class="line typingAnimation">Sistema de Reservas</h2>
    
    <a href="/cadastroP"><button type="button" class="btn btn-outline-dark content">Visualizar recursos</button></a>
    
    
    
    
</body>